h2 {
    font-size: 42 px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	  color: red;
}
h3 { 
    font-size: 29px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	  color: blue;
}
